# Environment Variables
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
Pipfile.lock

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Logs & OS
*.log
.DS_Store
.vscode/
.idea/